{# knight_login.html #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아발론 온라인 코어뱅킹</title>
    <style>
        html{
            font-size : 15px;
        }
        td{
            border-color: #9d9d00;
            border-size: 1px;
            vertical-align: middle;
            margin: 5px auto 5px auto;
            font-size : 15px;
        }
    </style>

    <script type="text/javascript">
    // 클라이언트와 서버의 웹소켓 통신을 가능하도록 연결시켜주는 부분이다.
    // router.py에서의 url과 일치하도록 해 주어야한다.
    var web_socket = new WebSocket('ws://' + window.location.host + '/abalone/<str:username>/');

    // onmessage는 counsumers에서 보내는 메세지를 받는 부분이다.
    web_socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];

        if (message == 'assin') {
            document.location.href = "{% url 'mycard_view' username=username %}";
        } else if (message == 'game_succ') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        } else if (message == 'game_fail') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        } else if (message == 'game_complete') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        } else if (message == 'init') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        }
    };
    </script>


</head>
<body>
{% include "./top_menu.html" %}
<form method="post">
    <table>
        <tr>
            <td width="100">기사</td>

            <td width="100">승리</td>
            <td width="100">원정</td>
            <td width="100">승률</td>
        </tr>
    {% for honor in honorlist.all %}
        <tr>
            <td>{{ honor.username }}</td>
            <td>{{ honor.wincnt }}</td>
            <td>{{ honor.totalcnt }}</td>
            <td>{{ honor.winrate|stringformat:"d%%" }}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    * 훌륭한 리더들
    <table>
        <tr>
            <td width="100">기사</td>

            <td width="100">승리</td>
            <td width="100">원정</td>
            <td width="100">승률</td>
        </tr>
    {% for  goodsucc in goodsucclist.all %}
        <tr>
            <td>{{  goodsucc.username }}</td>
            <td>{{  goodsucc.wincnt }}</td>
            <td>{{  goodsucc.totalcnt }}</td>
            <td>{{  goodsucc.winrate|stringformat:"d%%" }}</td>
        </tr>
    {% endfor %}
    </table>
        <br>
    * 무능한 리더들
    <table>
        <tr>
            <td width="100">기사</td>

            <td width="100">패배</td>
            <td width="100">원정</td>
            <td width="100">패률</td>
        </tr>
    {% for  goodfail in goodfaillist.all %}
        <tr>
            <td>{{  goodfail.username }}</td>
            <td>{{  goodfail.wincnt }}</td>
            <td>{{  goodfail.totalcnt }}</td>
            <td>{{  goodfail.winrate|stringformat:"d%%" }}</td>
        </tr>
    {% endfor %}
    </table>

        <br>
    * 악의 화신들
    <table>
        <tr>
            <td width="100">기사</td>

            <td width="100">승리</td>
            <td width="100">원정</td>
            <td width="100">승률</td>
        </tr>
    {% for  evlsucc in evlsucclist.all %}
        <tr>
            <td>{{  evlsucc.username }}</td>
            <td>{{  evlsucc.wincnt }}</td>
            <td>{{  evlsucc.totalcnt }}</td>
            <td>{{  evlsucc.winrate|stringformat:"d%%" }}</td>
        </tr>
    {% endfor %}
    </table>
</form>
</body>
</html>