{# knight_login.html #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아발론 온라인 코어뱅킹</title>
    <style>
        html{
            font-size : 15px;
        }
        td{
            border-color: #9d9d00;
            border-size: 1px;
            vertical-align: middle;
            margin: 5px auto 5px auto;
            font-size : 15px;
        }
    </style>

    <script type="text/javascript">

    </script>


</head>
<body>
{% include "./top_menu.html" %}
<form method="post">
    <table>
        <tr>
            <td width="100">기사</td>

            <td width="100">승리</td>
            <td width="100">원정</td>
            <td width="100">승률</td>
        </tr>
    {% for honor in honorlist.all %}
        <tr>
            <td>{{ honor.username }}</td>
            <td>{{ honor.wincnt }}</td>
            <td>{{ honor.totalcnt }}</td>
            <td>{{ honor.winrate|stringformat:"d%%" }}</td>
        </tr>
    {% endfor %}
    </table>
</form>
</body>
</html>