{# knight_login.html #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아발론 온라인 코어뱅킹</title>
    <style>
        html{
            font-size : 15px;
        }
        td{
            border-color: #9d9d00;
            border-size: 1px;
            vertical-align: middle;
            margin: 5px auto 5px auto;
            font-size : 15px;
        }
    </style>

    <script type="text/javascript">

    </script>


</head>
<body>
    {% load static %}
{% include "./top_menu.html" %}
<form method="post">
        {% csrf_token %}
    <div style="align:center;">
{{targetusername}}<br>
        {% if knight.evlYn == 'Y' %}<img src="{% static 'N' %}_HOSU.JPG" width="300" >{% endif %}
        {% if knight.evlYn == 'N' %}<img src="{% static 'Y' %}_HOSU.JPG" width="300" style="margin:0;">{% endif %}
    </div>
</form>
</body>
</html>