{% extends 'abaloneDjango/base.html' %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" width="100%"/>
</form>

<a href="{% url 'knight_auto_view' username='기수' %}"><input value="김기수" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='홍종' %}"><input value="김홍종" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='승훈' %}"><input value="도승훈" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='현이' %}"><input value="문현이" type="button" width="100%"/></a>
<br>
<a href="{% url 'knight_auto_view' username='원대' %}"><input value="서원대" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='용수' %}"><input value="안용수" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='현철' %}"><input value="오현철" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='경진' %}"><input value="이경진" type="button" width="100%"/></a>
<br>
<a href="{% url 'knight_auto_view' username='상림' %}"><input value="이상림" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='승규' %}"><input value="이승규" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='주윤발' %}"><input value="주윤정" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='원영' %}"><input value="최원영" type="button" width="100%"/></a>
<br>
<a href="{% url 'knight_auto_view' username='윤경' %}"><input value="허윤경" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='인의' %}"><input value="홍인의" type="button" width="100%"/></a>
<a href="{% url 'knight_auto_view' username='팀장님' %}"><input value="팀장님" type="button" width="100%"/></a>
{% endblock body %}