{% extends 'abaloneDjango/base.html' %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <table><tr><td>
        <table>
            {{ form.as_table }}
        </table>
    </td>
        <td>
            <input type="submit" value="로 그 인"  class="knight_login_btn" width="60%"/>
        </td>
        </tr>
        </table>


</form>


    {% for user in userlist.all %}
        <a href="{% url 'knight_auto_view' username=user.username %}"><input class="knight_login_btn2" value="{{ user.username}}" type="button" width="100%"
        style="background-image:url('/static/grade_{{ user.gradeNum }}.png'"/></a>


    {% endfor %}
{% endblock body %}