{# knight_login.html #}
{% extends 'abaloneDjango/base.html' %}

{% block body %}
<script type="text/javascript">
    function selectKnight(knightId){
        alert(knightId);
    }
</script>
<form method="post">
    {% csrf_token %}
    {{ username }} 님 환영합니다

    {{ form.as_p }} 님 환영합니다

   <table class="table">
    <tbody>
        <tr>
            {% for knight in knightlist.all %}
                <td scope="row">
                    http://127.0.0.1:8000/img/{{ knight.knightId }}.jpg
                    <img src="http://127.0.0.1:8000/img/{{ knight.knightId }}.jpg"  name="knightImg{{ knight.knightId }}" border="0" href='javascript:selectKnight( knightImg{{ knight.knightId }} );'>

                    {{ knight.name }}
                </td>

                {% if knight.knightId|divisibleby:3 != 0 %}
                    <tr></tr>
                {% endif %}
            {% endfor %}
        </tr>
       </tbody>
     </table>


    <input type="submit" value="Submit" />
</form>
{% endblock body %}