{# knight_login.html #}
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아발론 온라인 코어뱅킹</title>
    <style>
        table{
            font-size : 15px;
        }
        .expedition1{
            background:url("{% static joinusercnt %}_expedition.JPG") no-repeat;
            background-size:100%;
            width:100%;
        }
        .td_expedition{
            padding : 10px 0px;
        }
    </style>

    <script type="text/javascript">
    function submitFrom(){
        document.forms[0].submit();
    }

    // 클라이언트와 서버의 웹소켓 통신을 가능하도록 연결시켜주는 부분이다.
    // router.py에서의 url과 일치하도록 해 주어야한다.
    var web_socket = new WebSocket('ws://' + window.location.host + '/abalone/<str:username>/');

    // onmessage는 counsumers에서 보내는 메세지를 받는 부분이다.
    web_socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];

        if (message == 'assin') {
            // 0.5초 후 작동해야할 코드
            setTimeout(function(){
               document.location.href = "{% url 'mycard_view' username=username %}";
            }, 500);
        } else if (message == 'init') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        } else if (message == 'election') {
            // 0.5초 후 작동해야할 코드
            setTimeout(function(){
               document.location.href = "{% url 'knight_expedition_view' username=username %}";
            }, 500);
        }
    };
    </script>

</head>
<body>
{% include "./top_menu.html" %}
<form method="post">
    {% csrf_token %}
    <br>
    <a href="{% url 'knight_expedition_view' username=username %}"><input value="새로고침" type="button" width="100%"/></a>
    {% if user.hosuYn == 'Y' %}
    <a href="{% url 'hosu_show_view' username=username %}"><input value="호수보기" type="button" width="100%"/></a>
    {% endif %}
    {{ form.as_p }}
    <br>
    <br>
    <div class="expedition1">
        <table  height="120">
        <tbody>
            <tr>
                {% for  expedition in expeditionlist %}
                    <td scope="row"  width="20%" class="td_expedition">
                        <img src="{% static expedition.succYn %}_expedition.JPG" width="100%">
                    </td>
                {% endfor %}
                {% if expeditionseq < 6 %}
                    <td scope="row" width="100%" style="vertical-align:top;">
                        <img src="{% static 'S' %}_expedition.JPG" width="75" onclick="submitFrom();">
                    </td>
                {% endif %}

            </tr>
           </tbody>
         </table>
    </div>
    <table class="table"  height="80">
        <tr>
            <td width="10">차</td>
            <td width="250">결과</td>
            <td width="150">참가자</td>
        </tr>
        <tr>
            {% for  expedition2 in expeditionlist %}
                <tr>
                    <td>{{ expedition2.expeditionSeq }} </td>
                    <td>
                        {% for  election in expedition2.electionlist %}{% if election == 'Y' %}<img src="{% static 'Y' %}_election.JPG" width="45" >{% endif %}{% if election == 'N' %}<img src="{% static 'N' %}_election.JPG" width="45" style="margin:0;">{% endif %}{% endfor %}
                    </td>
                    <td>{{ expedition2.usernamelist }}</td>
                </tr>
            {% endfor %}
        </tr>
    </table>

</form>
</body>
</html>