{# knight_login.html #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아발론 온라인 코어뱅킹</title>
    <style>
        .card{
            width : 90px;
            border-color: #9d9d00;
            background-color: #9d9d9d;
            vertical-align: middle;
            line-height: 100px;
            margin: 5px auto 5px auto;
        }
    </style>

    <script type="text/javascript">
    var selectCardCnt = 0;

    function selectKnight(knightId){
        //alert(knightId);


        if ( knightId.border == 0 ){

             if (selectCardCnt >= 2 ){
                alert("카드는 두장만 선택할수 있습니다.");
                return false;
            }
            knightId.border = 5;
            selectCardCnt++;
        }
        else{
            knightId.border = 0;
            selectCardCnt--;
        }

    }

    function submitFrom(){
        //alert(knightId);
        var knightliststr = "";
        var cardlist = document.getElementsByClassName("card");
        for( var i = 0; i < cardlist.length ; i ++ ){
            if ( cardlist[i].border == 5 ){
                knightliststr = knightliststr + ( i+1 ) + ";";
            }
        }
        id_knightliststr.value = knightliststr;
        document.forms[0].submit();
    }

    // 클라이언트와 서버의 웹소켓 통신을 가능하도록 연결시켜주는 부분이다.
    // router.py에서의 url과 일치하도록 해 주어야한다.
    var web_socket = new WebSocket('ws://' + window.location.host + '/abalone/<str:username>/');

    // onmessage는 counsumers에서 보내는 메세지를 받는 부분이다.
    web_socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];

        if (message == 'assin') {
            // 0.5초 후 작동해야할 코드(원정시작 대기)
            setTimeout(function(){
               document.location.href = "{% url 'mycard_view' username=username %}";
            }, 500);
        } else if (message == 'init') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        }
    };
    </script>

</head>
<body>
{% include "./top_menu.html" %}
<form method="post">
    {% csrf_token %}
    카드를 고르고 원정을 시작하세요 ->  <input onclick="submitFrom();" value="원정시작" type="button" width="100%"/>
    {{ form.as_p }}
    {% load static %}
   <table class="table">
    <tbody>
        <tr>
            {% for knight in knightlist.all %}
                <td scope="row">

                    <img class="card" src="{% static  knight.knightId %}.JPG"  name="knightImg{{ knight.knightId }}" border="0" onclick="selectKnight( knightImg{{ knight.knightId }} )">
                    <!--BR>{{ knight.name }}<-->
                </td>

                {% if knight.knightId|divisibleby:4 != 0 %}
                    <tr></tr>
                {% endif %}
            {% endfor %}
        </tr>
       </tbody>
     </table>

</form>
</body>
</html>