{# knight_login.html #}
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아발론 온라인 코어뱅킹</title>
    <style>
        .expedition2{
            width:100%;
        }

        .td_expedition{
            padding : 10px 0px;
        }
    </style>

    <script type="text/javascript">

    // 클라이언트와 서버의 웹소켓 통신을 가능하도록 연결시켜주는 부분이다.
    // router.py에서의 url과 일치하도록 해 주어야한다.
    var web_socket = new WebSocket('ws://' + window.location.host + '/abalone/<str:username>/');

    function submitFrom(succyn){
        document.forms[0].expeditionseq.value={{expeditionseq}};
        document.forms[0].succyn.value = succyn;
        document.forms[0].submit();

        web_socket.send(JSON.stringify({
            'message': 'election'
        }));
    }

    // onmessage는 counsumers에서 보내는 메세지를 받는 부분이다.
    web_socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];

        if (message == 'assin') {
            document.location.href = "{% url 'mycard_view' username=username %}";
        } else if (message == 'game_succ') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        } else if (message == 'game_fail') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        } else if (message == 'game_complete') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        } else if (message == 'init') {
            document.location.href = "{% url 'knight_select_view' username=username %}";
        } else if (message == 'expeditionSeq_ini') {
            document.location.href = "{% url 'knight_expedition_view' username=username %}";
        }
    };
    </script>


</head>
<body>
{% include "./top_menu.html" %}
<form method="post">
    {% csrf_token %}
    <br>** {{expeditionseq}} 차 원정 **
    <a href="{% url 'knight_election_view' username=username %}"><input value="새로고침" type="button" width="100%"/></a>
    {{ form.as_p }}
    <br>
    <br>
    <div class="expedition2">
        <img src="{% static 'Y' %}_election.JPG" width="45%" height="30%" onclick="submitFrom('Y');">
        <img src="{% static 'N' %}_election.JPG" width="45%" height="30%" onclick="submitFrom('N');">
    </div>
    <table class="table"  height="80">
        <tr>
            <td width="50">차수</td>
            <td width="150">결과</td>
            <td width="200">참가자</td>
        </tr>
        <tr>
            {% for  expedition2 in expeditionlist %}
                <tr>
                    <td>{{ expedition2.expeditionSeq }} </td>
                    <td>{{ expedition2.succUserCnt }}/{{ expedition2.expeditionUserCnt }}</td>
                    <td>{{ expedition2.usernamelist }}</td>
                </tr>
            {% endfor %}

        </tr>
    </table>

</form>
</body>
</html>