{# knight_login.html #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아발론 온라인 코어뱅킹</title>
    <style>
        html{
            font-size : 15px;
        }
        tr{
            text-align:center
        }
        td{
            border-color: #9d9d00;
            border-size: 1px;
            vertical-align: middle;
            margin: 5px auto 5px auto;
            font-size : 15px;
        }
    </style>

    <script type="text/javascript">

    </script>

</head>
<body>
{% include "./top_menu.html" %}
 * 참가완료 : {{ joinusercnt }} 명 , 준비완료 : {{ readyusercnt }}  명
<table>
    <tr>
        <td width="150" style="text-align:left">참가자명</td>
        <td width="100">참가여부</td>
        <td width="50">참가</td>
        <td width="50">미참</td>
        <td width="50">호수</td>
    </tr>
{% for user in userlist %}
    <tr>
        <td style="text-align:left">{{ user.username }}<font color="white">{{ user.assinKnightId }}</font></td>
        <td>{{ user.joinYn }}</td>
        <td><a href="{% url 'join_view' username=username targetusername=user.username %}"><input value="참가" type="button" width="100%"/></a></td>
        <td><a href="{% url 'delete_view' username=username targetusername=user.username %}"><input value="미참" type="button" width="100%"/></a></td>
        <td><a href="{% url 'hosu_view' username=username targetusername=user.username %}"><input value="호수" type="button" width="100%"/></a></td>
    </tr>
{% endfor %}
</table>
</BR>
 * 진행중인 원정
<table>
    <tr>
        <td width="70">번호</td>
        <td width="100">참가자</td>
        <td width="70">차수</td>
        <td width="100">차수취소</td>
        <td width="70">완료</td>
        <td width="70">선승</td>
        <td width="70">악승</td>
    </tr>
{% for game in gamelist %}
    <tr>
        <td>{{ game.gameId }} </td>
        <td>{{ game.joinUserCnt }}</td>
        <td>{{ game.expeditionSeq }}</td>
        <td><a href="{% url 'expeditionSeq_ini_view' gameid=game.gameId username=username %}"><input id="expeditionSeq_ini" value="차수취소" type="button" width="100%"/></a></td>
        <td><a href="{% url 'game_complete_view' gameid=game.gameId username=username %}"><input id="game_complete" value="완료" type="button" width="100%"/></a></td>
        <td><a href="{% url 'game_succ_view' gameid=game.gameId username=username %}"><input id="game_succ" value="선승" type="button" width="100%"/></a></td>
        <td><a href="{% url 'game_fail_view' gameid=game.gameId username=username %}"><input id="game_fail" value="악승" type="button" width="100%"/></a></td>
    </tr>
    <script type="text/javascript">

    </script>
{% endfor %}
</table>
 </BR>
<input id="start" onclick="location.href='{% url 'assin_view' username=username %}';return false;" value="원정시작" type="button" width="100%"/>
<input onclick="location.href='{% url 'init_view' username=username %}';return false;" value="초기화" type="button" width="100%"/>
<input onclick="location.href='{% url 'start_view' username=username %}';return false;" value="새로고침" type="button" width="100%"/>
<script type="text/javascript">

</script>
</body>
</html>