{# knight_login.html #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아발론 온라인 코어뱅킹</title>
    <style>
        td{
            border-color: #9d9d00;
            border-size: 2px;
            vertical-align: middle;
            margin: 5px auto 5px auto;
        }
    </style>

    <script type="text/javascript">
    // 클라이언트와 서버의 웹소켓 통신을 가능하도록 연결시켜주는 부분이다.
    // router.py에서의 url과 일치하도록 해 주어야한다.
    var web_socket = new WebSocket('ws://' + window.location.host + '/abalone/<str:username>/');

    // onmessage는 counsumers에서 보내는 메세지를 받는 부분이다.
    web_socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];

        if (message == 'start') {
            // 1초 후 작동해야할 코드
            setTimeout(function(){
               document.location.href = "{% url 'mycard_view' username=username %}";
            }, 1000);
        }
    };
    </script>


</head>
<body>
{% include "./top_menu.html" %}
{% load static %}
원정 준비중 ...
</BR>
원정 리더가 시작하면 카드가 배정됩니다.
</BR>

<a href="{% url 'mycard_view' username=username %}"><input value="새로고침" type="button" width="100%"/></a>
</BR>
참가완료 : {{ joinusercnt }} 명 , 준비완료 : {{ readyusercnt }}  명
</BR>

</body>
</html>